@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0.1px;
}

#main {
  height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.8vh;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.nav > h1,
nav > h2,
nav > i {
  width: 16%;
  height: 100%;
  display: flex;
  font-size: 1.2vw;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

nav > h1 {
  width: 24%;
  font-size: 3.2vw;
  height: fit-content;
  text-align: center;
  padding: 1.5vw;
  position: relative;
}

nav > h1::after {
  content: "©";
  color: #000;
  font-size: 1.4vw;
  position: absolute;
}

nav > h1::before {
  content: "model management";
  color: #000;
  font-size: 0.6vw;
  bottom: 20%;
  right: 25%;
  position: absolute;
}

nav > h3 {
  display: none;
}

nav > i {
  font-size: 1.4vw;
  width: 14%;
}

nav > h2 {
  border-right: 1px solid #000000;
}

.centerVideoSection {
  width: 100%;
  height: 90%;
  padding: 2vw 3vw;
}

.centerVideoSectionContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.centerVideoSectionContent video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 20%;
  backdrop-filter: blur(5px);
}

.centerVideoSectionText {
  position: absolute;
  bottom: 0;
  height: 50%;
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.144);
  color: white;
  width: 100%;
}

.centerVideoSectionText-part1 {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.centerVideoSectionText-part1 h1 {
  font-size: 3.6vw;
}
.centerVideoSectionText-part1 p {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6vw;
  padding: 20px 20px;
  border-radius: 50%;
  border: 2px solid white;
}

.centerVideoSectionText-part2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scrollContent {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2% 0%;
}

.scrollContent::-webkit-scrollbar {
  display: none;
}

.imgContainer {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  animation-name: moveRightToLeft;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.imgContainer img {
  height: 95%;
  flex-shrink: 0;
  width: 15vw;
  object-fit: cover;
  object-position: 0% 30%;
  border-radius: 50%;
}

.alphabateContent {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 1vh 15vh;
  align-items: center;
  justify-content: space-around;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

.alphabateContent h2,
.alphabateContent h4 {
  font-weight: 250;
}

.alphabateContent h2 {
  letter-spacing: 5px;
}

.alphabateContent h4 {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: fit-content;
  text-align: center;
  height: fit-content;
  padding: 5px 10px;
  transition: all 0.2s ease-out;
}

.alphabateContent h4:hover {
  border: 1px solid rgb(0, 0, 0);
}

.modelPhotoSection {
  width: 100%;
  padding: 2vh 5vh;
  display: flex;
  justify-content: space-around;
  height: 95vh;
}

.modelPhotoSectionPart1 {
  width: 45%;
  height: 100%;
}

.modelPhotoSectionPart1Left {
  width: 100%;
  height: 100%;
}

.modelPhotoSectionPart1Left img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 90%;
}

.modelPhotoSectionPart1Left h2 {
  font-size: 3vw;
  padding: 5px;
}
.modelPhotoSectionPart2 {
  width: 40%;
  height: 100%;
}

.modelPhotoSectionPart2Right {
  width: 100%;
  height: 100%;
}

.modelPhotoSectionPart2Right img {
  width: 100%;
  object-fit: cover;
  object-position: 20% 20%;
  height: 70%;
}

.modelPhotoSectionPart1RightText {
  height: 30%;
  width: 100%;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
}

.modelPhotoSectionPart1RightText h2 {
  width: 45%;
  line-height: 0.95;
  font-weight: 500;
}

.modelPhotoSectionPart1RightText p {
  width: 60%;
}

.curverTextConatiner {
  padding: 2vh 5vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.curverTextConatinerLeft {
  width: 30%;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgArrowConatiner {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.curverTextConatinerLeft .imgArrowConatiner img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-name: moveCirlce;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.curverTextConatinerLeft .imgArrowConatiner img:nth-child(2) {
  position: absolute;
  width: 25%;
  height: 25%;
}

@keyframes moveCirlce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.curverTextConatinerLeft p {
  font-size: 1.4vw;
  padding-inline-start: 2vw;
}

.curverTextConatinerRight {
  width: 60%;
  height: 100%;
  flex-shrink: 0;
  background: url(https://images.unsplash.com/photo-1608451994760-ea44a25e80a0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cG9ydHJhaXQlMjBqYXBhbmVzZSUyMHRyYWRpdGlvbiUyMGNsb3RocyUyMGZlbWFsZXxlbnwwfHwwfHx8MA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 25%;
}

.modelOnlyPhoto {
  height: 80vh;
  width: 100%;
  padding: 2vh 5vh;
}

.pictureArea {
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1557541110-63d3d733c4db?q=80&w=1190&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0% 20%;
}

.updateSection {
  width: 100%;
  height: 90vh;
  padding: 2vh 5vh;
}

.updateSection > h2 {
  text-align: center;
  padding: 40px;
  letter-spacing: -1px;
  font-size: 2.8vw;
}

.elem {
  padding-inline: 2vh;
  width: 100%;
  height: 15%;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.elem img {
  border-radius: 50%;
  height: 95%;
  width: 9%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  left: 12%;
  opacity: 0;
  transition: all ease-in-out 0.7s;
}

.elem:nth-last-child(2n) img {
  left: 34%;
}

.elem:hover img {
  opacity: 1;
  left: 23%;
}

.elem:nth-last-child(1) {
  border-bottom: 2px solid #000;
}

.elem h4 {
  font-size: 1.4vw;
  text-transform: uppercase;
  width: 6%;
  font-weight: 350;
}

.elem .elem-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.elem .elem-left h2 {
  font-size: 3.2vw;
  text-transform: capitalize;
  font-weight: 300;
}

.elem .elem-left h6 {
  text-transform: uppercase;
  font-size: 0.8vw;
}

.movieShootSection {
  padding: 2vh 5vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 95vh;
}

.movieShootSection .movieShootSectionLeft {
  width: 40%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1642886513133-cdbee2639272?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: top;
  background-size: cover;
}

.movieShootSection .movieShootSectionRight {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieShootSection .movieShootSectionRight h3 {
  text-transform: uppercase;
  font-size: 2.2vw;
  font-weight: 800;
}

.movieShootSection .movieShootSectionRight h5 {
  width: 45%;
  font-size: 1.6vw;
}

.movieShootSection .movieShootSectionRight p {
  width: 80%;
  font-size: 1.2vw;
}

.movieShootSection .movieShootSectionRight .movieRightImgSection {
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.movieShootSection
  .movieShootSectionRight
  .movieRightImgSection
  img:nth-child(1) {
  height: 100%;
  width: 52%;
  object-fit: cover;
  object-position: 0% 45%;
}
.movieShootSection
  .movieShootSectionRight
  .movieRightImgSection
  img:nth-child(2) {
  height: 100%;
  width: 46%;
  object-fit: cover;
  object-position: 0% 40%;
}

.pictureArea2 {
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1517241938558-898c3afe02c8?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 20%;
}

.marqueTextConatiner {
  height: 11vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.marqueTextConatiner .scrollableText {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  animation-name: moveRightToLeft;
  animation-duration: 4.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marqueTextConatiner .scrollableText h5 {
  text-transform: uppercase;
  font-size: 3.4vw;
  letter-spacing: 10px;
  -webkit-text-stroke: 1px #000;
  color: #fff;
}

.blogSection {
  width: 100%;
  height: 80vh;
  padding: 4vw 5vw;
  display: flex;
  justify-content: space-between;
}

.blogText {
  width: 15%;
  padding-top: 5vh;
  height: 100%;
}

.blogText h2 {
  font-size: 2.6vw;
}

.blogImgCenter {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.blogImgCenter p {
  font-size: 1.4vw;
}

.blogImgCenter img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: top;
}

.blogImgRight {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.blogImgRight p {
  font-size: 1.4vw;
}

.blogImgRight img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: top;
}

.footer {
  width: 100%;
  height: 30vh;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.footer > h1 {
  width: 25%;
  font-size: 3.2vw;
  height: fit-content;
  text-align: center;
  padding: 1.5vw;
  position: relative;
}

.footer > h1::after {
  content: "©";
  color: #000;
  font-size: 1.4vw;
  position: absolute;
}

.footer > h1::before {
  content: "model management";
  color: #000;
  font-size: 0.6vw;
  bottom: 20%;
  right: 25%;
  position: absolute;
}

.footer > h2 {
  width: 20%;
  border-right: 2px solid black;
  height: 100%;
  padding: 1.5vw;
  text-align: center;
  font-weight: 400;
}

.footer .footerWrapper {
  width: 60%;
}

.footer .footerWrapper h2 {
  padding: 0.8vw 1.5vw;
  font-weight: 400;

  border-bottom: 2px solid black;
}

.footer .footerWrapper .footLinks {
  display: flex;
  height: 60%;
  justify-content: space-between;
  flex-direction: column;
}

.footer .footerWrapper .footLinks .socialLinks {
  display: flex;
  padding: 0.8vw 1.5vw;
  width: 50%;
  justify-content: space-between;
}

.footer .footerWrapper .footLinks .socialLinks i {
  font-size: 1.6vw;
}

.footer .footerWrapper .footLinks .copyDetails {
  padding: 0.8vw 1.5vw;
  width: 70%;
}

.space {
  width: 100%;
  height: 3vh;
}

@keyframes moveRightToLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
